.form-pendaftaran {
    padding-top: 140px;
}
.form-pendaftaran form {
    width: 100%;
    padding: 80px 40px;
    margin-bottom: 80px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.15);
}
.input-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.input-group input[type=text],
.input-group input[type=number],
.input-group input[type=date] {
    background-color: #e9e9e9;
    padding: 20px 34px;
    border-radius: 80px;
    border: none;
    width: 100%;
}
.input-group input:focus-visible {
    outline: none;
    /* border: 1px solid #000000; */
    box-shadow: 0 0 0 2px #FF3131;
}
::placeholder {
    color: #828282;
}
input[type=date]:invalid::-webkit-datetime-edit {
    color: red !important;
}
.alert-text {
    font-size: 12px;
    margin-bottom: 6px;
    color: #dc3545;
}
.kontak-heading {
    background: linear-gradient( #FF3131 0%, #E65245 125.79%);
    padding: 18px 18px 50px 18px;
    border-radius: 30px;
    color: #ffffff;
}
.kontak {
    background-color: #FFFFFF;
    padding: 24px 18px;
    border-radius: 30px;
    transform: translateY(-50px);
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.15);
}
.kontak a {
    color: #000000;
}

@media (max-width: 767.98px) {
    .form-pendaftaran form {
        padding: 40px 16px;
    }
}